<%# Canton > city > venue, fully expanded so you can see everything you follow at
    a glance. Every level is an existing location tag; checking a canton/city
    follows all of its events, checking a venue follows just that venue. %>
<%= hidden_field_tag "user[location_list][]", "" %>

<% Location.hierarchy.sort.each do |canton, cities| %>
  <div class="loc-canton">
    <label class="loc-option loc-canton-head">
      <%= check_box_tag "user[location_list][]", canton, user.location_list.include?(canton), id: "loc-#{canton.parameterize}" %>
      <span class="loc-name"><strong><%= canton_name(canton) %></strong> <span class="muted">(<%= canton %>)</span></span>
    </label>

    <% cities.sort.each do |city, venues| %>
      <div class="loc-city">
        <label class="loc-option loc-city-head">
          <%= check_box_tag "user[location_list][]", city, user.location_list.include?(city), id: "loc-#{city.parameterize}" %>
          <span class="loc-name"><%= city %></span>
        </label>

        <div class="loc-venues">
          <% venues.sort.each do |venue| %>
            <label class="loc-option loc-venue">
              <%= check_box_tag "user[location_list][]", venue, user.location_list.include?(venue), id: "loc-#{venue.parameterize}" %>
              <span class="loc-name"><%= venue %></span>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% known = Location.hierarchy.flat_map { |canton, cities| [canton] + cities.keys + cities.values.flatten } %>
<% others = (user.location_list - known).sort %>
<% if others.any? %>
  <div class="loc-canton">
    <p class="loc-canton-head loc-other-head"><strong><%= t('settings.other_locations') %></strong></p>
    <div class="loc-venues">
      <% others.each do |name| %>
        <label class="loc-option loc-venue">
          <%= check_box_tag "user[location_list][]", name, true, id: "loc-#{name.parameterize}" %>
          <span class="loc-name"><%= name %></span>
        </label>
      <% end %>
    </div>
  </div>
<% end %>
