<% content_for :title, t('.title') %>
<div class="flex flex-col gap-large">
  <h1><%= t('.title') %></h1>

  <dl class="flex flex-col gap-small">
    <div class="stat">
      <dt><%= link_to Event.model_name.human(count: :many), admin_events_path, class: 'stat-link' %></dt>
      <span class="stat__leader"></span>
      <dd class="muted"><%= Event.count %></dd>
    </div>
    <div class="stat">
      <dt><%= link_to Location.model_name.human(count: :many), admin_locations_path, class: 'stat-link' %></dt>
      <span class="stat__leader"></span>
      <dd class="muted"><%= @event_tag_stats.location_tags.count %></dd>
    </div>
  </dl>

  <section class="flex flex-col gap-small">
    <h2><%= link_to Genre.model_name.human(count: :many), genres_path, class: 'heading-link' %> <span class="muted"><%= @event_tag_stats.genre_tags.count %></span></h2>
    <dl class="flex flex-col gap-small">
      <div class="stat">
        <dt><%= link_to t('.placed'), genres_path(status: 'placed'), class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= @event_tag_stats.placed_genre_tags.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.unplaced'), genres_path(status: 'unplaced'), class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= @event_tag_stats.unplaced_genre_tags.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.ignored'), genres_path(status: 'ignored'), class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= @event_tag_stats.ignored_genre_tags.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.hidden'), genres_path(status: 'hidden'), class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= @event_tag_stats.hidden_genre_tags.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.blocked'), genres_path(status: 'blocked'), class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= @event_tag_stats.blocked_genre_tags.count %></dd>
      </div>
    </dl>
  </section>

  <section class="flex flex-col gap-small">
    <h2><%= link_to t('.scrapers_heading'), admin_scrape_runs_path, class: 'heading-link' %></h2>
    <% if @latest_scrape_run %>
      <dl class="flex flex-col gap-small">
        <div class="stat">
          <dt><%= link_to t('.last_scrape'), admin_scrape_run_path(@latest_scrape_run), class: 'stat-link' %></dt>
          <span class="stat__leader"></span>
          <dd class="muted">
            <%= l(@latest_scrape_run.started_at) %>
            <%= render 'admin/scrape_runs/run_badge', run: @latest_scrape_run %>
          </dd>
        </div>
      </dl>
    <% else %>
      <p class="muted"><%= t('.no_scrapes') %></p>
    <% end %>
    <dl class="flex flex-col gap-small">
      <div class="stat">
        <dt><%= link_to t('.discard_rules'), admin_discard_rules_path, class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= DiscardRule.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.scraper_coverage'), admin_scraper_coverage_path, class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"></dd>
      </div>
    </dl>
  </section>

  <section class="flex flex-col gap-small">
    <h2><%= link_to t('.accounts_heading'), admin_users_path, class: 'heading-link' %></h2>
    <dl class="flex flex-col gap-small">
      <div class="stat">
        <dt><%= link_to t('.users'), admin_users_path, class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= User.count %></dd>
      </div>
      <div class="stat">
        <dt><%= link_to t('.open_invitations'), admin_invitations_path, class: 'stat-link' %></dt>
        <span class="stat__leader"></span>
        <dd class="muted"><%= Invitation.available.count %></dd>
      </div>
    </dl>
  </section>
</div>
