<div class="flex flex-col gap-medium">
  <h1><%= t('auth.signup_title') %></h1>

  <%= form_with model: @user, url: registration_path, class: 'account-form flex flex-col align-stretch gap-medium' do |form| %>
    <% if @user.errors.any? %>
      <ul class="form-errors">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username", placeholder: t('auth.username') %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t('auth.password'), maxlength: 72 %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t('auth.password_confirmation'), maxlength: 72 %>

    <label class="flex flex-col gap-small">
      <span><%= t('auth.notify_label') %></span>
      <%= form.select :notification_frequency, User::FREQUENCIES.map { |f| [t("frequencies.#{f}"), f] }, selected: @user.notification_frequency || "weekly" %>
    </label>

    <%= form.submit t('auth.signup_submit') %>
  <% end %>

  <p><%= t('auth.have_account_html', link: link_to(t('auth.log_in_link'), new_session_path)) %></p>
</div>
