<section id="events" class="flex flex-col gap-xlarge event-list">
  <% followed_keys = favorite_followed_keys.to_set %>
  <% events_by_date = @events.group_by(&:start_date) %>
  <% events_by_date.each do |date, events| %>
    <div class="flex flex-col gap-medium date-events <%= class_names(past: date < Date.current.beginning_of_day) %>">
      <% day_keys = calendar_day_favorite_keys(events) %>
      <h2 id="<%= date.iso8601 %>" class="flex date"><span class="date-favorite-marker" aria-hidden="true" <%= 'hidden' unless followed_keys.any? { |key| day_keys.include?(key) } %>>&#9829;</span><%= l date, format: :detailed %></h2>
      <%= render 'venue_groups', events: events, filter: @filter %>
    </div>
  <% end %>

  <div class="flex justify-center">
    <%= paginate @events %>
  </div>
</section>
