<% content_for :title, t('about.title') %>

<div class="text-page flex flex-col gap-large">
  <%= render layout: "shared/page_header", locals: { back_path: root_path, back_label: t('nav.events') } do %>
    <h1><%= t('about.heading') %></h1>
  <% end %>

  <div class="prose flex flex-col gap-medium">
    <p><%= t('about.intro') %></p>
    <p><%= t('about.why') %></p>
    <p><%= link_to t('about.privacy'), privacy_path %></p>
  </div>
</div>
